<p-dialog [(visible)]="courseDialog" [breakpoints]="{'900px': '55vw', '575px': '90vw' }" [style]="{ width: '40vw' }"
    [draggable]="true" [resizable]="false" [header]="modalTitle()" [modal]="true" (onHide)="hideDialog()">
    <ng-template #content>
        <p-toast />
        <form [formGroup]="courseForm">
            <div class="grid grid-cols-12">
                <div class="mb-6 mx-2 col-span-12 xl:col-span-6">
                    <label for="name" class="block font-bold mb-2">Nome</label>
                    <input class="w-full" type="text" formControlName="name" pInputText id="name" required fluid />
                    <app-custom-validation-message id="nameErrorMessage" controlName="name" [minLength]="3" />
                </div>

                <div class="mb-6 mx-2 col-span-12 xl:col-span-6">
                    <label for="userId" class="block font-bold mb-2">Professor</label>
                    <p-select optionLabel="full_name" optionValue="id" scrollHeight="300px" class="w-full" formControlName="userId"
                        [options]="users()" placeholder="Selecione o instrutor" />
                    <app-custom-validation-message id="userIdErrorMessage" controlName="userId" />
                </div>
            </div>

            <div class="grid grid-cols-12">
                <div class="mb-6 mx-2 col-span-12">
                    <label for="description" class="block font-bold mb-2">Descrição</label>
                    <textarea class="w-full" rows="7" pTextarea formControlName="description"
                    id="description"></textarea>
                    <app-custom-validation-message id="descriptionErrorMessage" controlName="description" [minLength]="3" />
                </div>
            </div>
        </form>

        <div class="grid grid-cols-12">
            <div class="mb-6 mx-2 col-span-12">
                <label for="photo" class="block font-bold mb-2">Capa Curso</label>
                <app-ed-course-image-upload />
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveMemberHandler()" />
    </ng-template>
</p-dialog>
