<p-table #dt [value]="edLessonEnrollmentsService.enrollments()" [rows]="10"
     [paginator]="true"
    [globalFilterFields]="['ed_courses.name', 'ed_lessons.name', 'users.full_name']"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedLessonEnrollments"
    [scrollable]="true" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} matrículas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]">
    <ng-template #caption>
        <div class="flex items-center justify-between flex-wrap gap-4">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input class="w-full sm:w-auto" pInputText type="text"
                    (input)="onGlobalFilter(dt, $event)"
                    placeholder="Pesquisar..." />
            </p-iconfield>
            <p-button (onClick)="openDeleteLessonEnrollments()" [disabled]="!selectedLessonEnrollments || !selectedLessonEnrollments.length"
            severity="danger" label="Excluir" icon="pi pi-trash"
             />
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="ed_courses.name">
                Curso
                <p-sortIcon field="ed_lessons.name" />
            </th>
            <th pSortableColumn="ed_lessons.name">
                Aula
                <p-sortIcon field="ed_lessons.name" />
            </th>
            <th pSortableColumn="users.full_name">Aluno
                <p-sortIcon field="users.full_name" />
            </th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-lesson_enrollment>
        <tr>
            <td>
                <p-tableCheckbox [value]="lesson_enrollment" />
            </td>
            <td>{{ lesson_enrollment.ed_courses.name }}</td>
            <td>{{ lesson_enrollment.ed_lessons.name }}</td>
            <td>{{ lesson_enrollment.users.full_name | firstAndLastname }}</td>
            <td>
                <a
                [ngClass]="lessonEnrollmentStatusBg[lesson_enrollment.status]"
                class="inline-flex rounded-full px-3 py-1 transition-all duration-200 gap-2 items-center text-sm"
                >
                <span
                [ngClass]="lessonEnrollmentStatusText[lesson_enrollment.status]"
                    class="font-medium">{{ lesson_enrollment.status | appLessonEnrollmentStatus }}
                </span>
                <i
                [ngClass]="lessonEnrollmentStatusText[lesson_enrollment.status]"
                    class="pi pi-external-link !text-xs text-green-900 dark:text-green-50">
                </i>
                </a>
            </td>
            <td class="p-0">
                <p-button (click)="openDeleteLessonEnrollment(lesson_enrollment)"  icon="pi pi-trash" severity="danger"
                    [rounded]="true" [text]="true"
                     />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
