<p-dialog [(visible)]="enrollStudentsDialog"
    [breakpoints]="{'900px': '55vw', '575px': '90vw' }"
    [style]="{ width: '55vw' }" [draggable]="true" [resizable]="false"
    [header]="modalTitle()" [modal]="true" (onHide)="hideDialog()">
    <ng-template #content>
        <p-toast />
        <div class="grid grid-cols-12">
            <div class="mb-6 mx-2 col-span-12">
                <label for="userId" class="block font-bold mb-2">Aluno
                    (s)</label>
                <p-multiselect [ngModelOptions]="{standalone: true}"
                    optionLabel="full_name" optionValue="id"
                    scrollHeight="300px" class="w-full"
                    [(ngModel)]="selectedStudentsIds" [options]="students()"
                    placeholder="Selecione o(s) aluno(s)" />
            </div>
        </div>

        <div class="grid grid-cols-12">
            <div class="mb-6 col-span-12">
                <p-card>
                    <ng-template
                        #title>{{selectedLessonForEnrollment?.name}}</ng-template>
                    <ng-template #subtitle>
                        <div class="flex justify-between items-center gap-2">
                            <span class="font-extrabold">Curso
                                {{selectedLessonForEnrollment?.course?.name}}
                            </span>
                            <span
                                class="inline-flex rounded-md px-1 py-1 bg-primary-200 hover:bg-primary-300 transition-all duration-200 gap-2 items-center text-sm dark:bg-primary-800 dark:hover:bg-primary-700">
                                <span
                                    class="text-primary-900 dark:text-primary-50 font-medium">Prof.
                                    {{selectedLessonForEnrollment?.course?.user?.full_name! | firstAndLastname}}
                                </span>
                            </span>

                        </div>

                    </ng-template>
                    <p class="text-justify">
                        {{selectedLessonForEnrollment?.description}}
                    </p>
                    <ng-template #footer>
                        <div class="flex justify-end gap-4 mt-2">
                            <a target="_blank" rel="noopener noreferrer"
                                class="inline-flex rounded-full px-3 py-1 bg-red-200 hover:bg-red-300 transition-all duration-200 gap-2 items-center text-sm dark:bg-red-800 dark:hover:bg-red-700"
                                [href]="selectedLessonForEnrollment?.link_pdf_file">
                                <span
                                    class="text-red-900 dark:text-red-50 font-medium">Pdf
                                </span>
                                <i
                                    class="pi pi-external-link !text-xs text-red-900 dark:text-red-50">
                                </i>
                            </a>
                            <a target="_blank" rel="noopener noreferrer"
                                class="inline-flex rounded-full px-3 py-1 bg-green-200 hover:bg-green-300 transition-all duration-200 gap-2 items-center text-sm dark:bg-green-800 dark:hover:bg-green-700"
                                [href]="selectedLessonForEnrollment?.link_video_file">
                                <span
                                    class="text-green-900 dark:text-green-50 font-medium">Vídeo
                                </span>
                                <i
                                    class="pi pi-external-link !text-xs text-green-900 dark:text-green-50">
                                </i>
                            </a>
                        </div>
                    </ng-template>
                </p-card>
            </div>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text
            (click)="hideDialog()" />
        <p-button [disabled]="selectedStudentsIds.length === 0" label="Matrícular"
            icon="pi pi-file"
            (click)="saveEdLessonEnrollmentHandler()" />
    </ng-template>
</p-dialog>
