<div
  class="px-2 sm:px-8 py-20 md:px-12 lg:px-20 flex items-center justify-center backdrop-blur-3xl bg-cover! bg-center! bg-no-repeat! min-h-screen"
  style="background-image: url('assets/images/background.jpeg')">
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-[98%] sm:w-[90%] md:w-[80%] lg:w-[50%] xl:w-[40%] 2xl:w-[30%]">
      <div class="backdrop-blur-2xl bg-white/10 py-12 px-4 sm:px-10 rounded-2xl">
        <div class="text-center mb-8">
          <div class="text-surface-100 dark:text-surface-0 text-3xl font-medium mb-4">Bem vindo a IPR</div>
          <span class="text-surface-100 dark:text-surface-0 text-xl">Faça login para continuar</span>
        </div>

        <form [formGroup]="loginForm">
          <div class="my-4">
            <label for="emailField" class="block text-surface-100 dark:text-surface-0 text-xl font-medium mb-2">Email</label>
            <input
              pInputText
              id="emailField"
              type="text"
              placeholder="Endereço de Email"
              class="w-full mb-2"
              formControlName="email" />
            <app-custom-validation-message id="emailErrorMessage" controlName="email" />
          </div>

          <!-- Password -->
          <div class="my-4">
            <label for="passwordField" class="block text-surface-100 dark:text-surface-0 font-medium text-xl mb-2">Senha </label>
            <p-password
              id="passwordField"
              formControlName="password"
              placeholder="Senha"
              [toggleMask]="true"
              class="mb-2"
              [fluid]="true"
              [feedback]="false">
            </p-password>

            <app-custom-validation-message id="passwordErrorMessage" controlName="password" [minLength]="3" />
          </div>

          <div class="flex items-center justify-between mt-2 mb-8 gap-8">
            <div class="flex items-center">
              <p-checkbox id="remembermeId" binary class="mr-2"></p-checkbox>
              <label class="text-surface-100 dark:text-surface-0" for="remembermeId">Lembrar</label>
            </div>
            <span
              routerLink="/lembrar-senha"
              class="text-sm sm:text-base font-medium hover:underline no-underline ml-2 text-right cursor-pointer text-primary"
              >Esqueceu a senha?</span
            >
          </div>
          <p-button (click)="loginHandler()" id="loginButton" label="Entrar" styleClass="w-full"></p-button>
        </form>
      </div>
    </div>
  </div>
</div>
