<p-toolbar styleClass="my-4 flex flex-wrap justify-center md:justify-between gap-2">
    <ng-template #start>
        <p-button [disabled]="isSelectedMonthClosed()" class="mr-2" label="Fechar" icon="pi pi-list-check"
            severity="info" (click)="closeCurrentMonth()" />
        <p-button label="Exportar" icon="pi pi-upload" severity="success" (click)="downloadFinanceNoteExcel()" />
    </ng-template>

    <ng-template #end>
        <p-button (onClick)="deleteSelectedFinanceNotes()" severity="danger" label="Excluir" icon="pi pi-trash"
            class="mr-2" [disabled]="isSelectedMonthClosed() || !selectedFinanceNote" />
        <p-button [disabled]="isSelectedMonthClosed()" label="Nova" icon="pi pi-plus" severity="primary"
            (onClick)="openAddFinanceNote()" />
    </ng-template>
</p-toolbar>

<app-audit-validation-warnings [isSelectedMonthClosed]="isSelectedMonthClosed()" />

@let totalOfFinanceNotes = financeNotesService.totalOfFinanceNotes();

<p-table #dt [rows]="10" [value]="financeNotesService.financeNotes()" [expandedRowKeys]="expandedRows"
    [columns]="columns" [paginator]="true" [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '75rem' }" [(selection)]="selectedFinanceNote" selectionMode="single"
    [metaKeySelection]="false" dataKey="id" [scrollable]="true" [rowHover]="true"
    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} notas" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]">
    <ng-template #caption>
        <div class="flex items-center justify-start sm:justify-between flex-wrap gap-4">
            <h5 class="m-0 font-bold">Notas
                @if(totalOfFinanceNotes > 0) {
                <span>({{totalOfFinanceNotes}})</span>
                } @else {
                <span>(Nenhum resultado)</span>
                }
            </h5>

            <div class="flex flex-wrap justify-center md:justify-start gap-2">
                <p-select (onChange)="onMonthAndYearChange($event)" [options]="monthAndYearList()"
                    [(ngModel)]="financeReportsService.selectedMonthAndYear" placeholder="Selecione o mês"
                    class="w-full sm:w-[120px] mr-2" />
                <p-select [(ngModel)]="selectedNotesCategory" (onChange)="onCategoryFilterChange($event)"
                    [showClear]="true" appendTo="body" class="mr-2 w-full sm:w-[200px]" optionLabel="name"
                    optionValue="id" [options]="financeNoteCategoryService.financeNoteCategory()"
                    placeholder="Selecione a categoria" />
                <p-iconfield class="w-full sm:w-[200px]">
                    <p-inputicon styleClass="pi pi-search" />
                    <input class="w-full" pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                        placeholder="Pesquisar..." />
                </p-iconfield>
            </div>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="min-width: 10rem"></th>
            <th pSortableColumn="users.full_name" style="min-width: 8rem">
                Tesoureiro
                <p-sortIcon field="users.full_name" />
            </th>
            <th pSortableColumn="date" style="min-width: 4rem">
                Data
                <p-sortIcon field="date" />
            <th style="min-width: 5rem">Categoria</th>
            <th style="min-width: 3rem">Tipo</th>
            <th style="min-width: 4rem">Valor (R$)</th>
            <th>Conferido</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-note let-expanded="expanded">
        <tr [pSelectableRow]="note" (dblclick)="checkNoteHandler(note)">
            <td style="min-width: 10rem">
                <p-button type="button" pRipple [pRowToggler]="note" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td style="min-width: 8rem">{{ note.users?.full_name |
                firstAndLastname }}</td>
            <td style="min-width: 4rem">{{ note.date | primengDate }}</td>
            <td style="min-width: 5rem">
                {{ note.finance_categories.name }}
            </td>
            <td style="min-width: 3rem">
                @if(note.type === 'D') {
                <p-tag severity="danger" value="Débito" />
                } @else {
                <p-tag severity="success" value="Crédito" />
                }
            </td>

            <td style="min-width: 4rem">
                @if(note.value === 0) {
                <p-tag severity="warn" value="Pendente" />
                } @else {
                {{ note.value }}
                }
            </td>
            <td>
                @if(note.is_checked) {
                <i class="pi pi-check text-green-400"></i>
                } @else {
                <i class="pi pi-times text-red-400"></i>
                }
            </td>
            <td>
                <p-button [disabled]="isSelectedMonthClosed()" icon="pi pi-pencil" severity="info" [rounded]="true"
                    [text]="true" (click)="openUpdateFinanceNote(note)" />
                <p-button [disabled]="isSelectedMonthClosed()" icon="pi pi-trash" severity="danger" [rounded]="true"
                    [text]="true" (click)="openDeleteFinanceNote(note)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-note>
        <tr>
            <td colspan="8">
                <section class="w-full flex flex-col p-2">
                    <span class="font-semibold mb-4 text-lg">Descrição</span>
                    @if(notesIdsToContact.includes(note.category_id)) {
                    <p class="ml-2 first-line:w-full m-0 text-surface-500 dark:text-surface-400 font-medium">
                        {{note.finance_categories?.name}}
                        - {{note.members?.name}}
                    </p>
                    } @else {
                    <p class="ml-2 w-full m-0 text-surface-500 dark:text-surface-400 font-medium">
                        {{note.description}}
                    </p>
                    }
                </section>
            </td>
        </tr>

    </ng-template>
</p-table>

<p-dialog [(visible)]="actionDialog"
    [breakpoints]="{ '700px': '40vw', '600px': '50vw', '575px': '80vw', '450px': '90vw', '300px': '98vw' }"
    [style]="{ width: '40vw' }" [draggable]="true" [resizable]="false" [maximizable]="true" [header]="modalTitle()"
    [modal]="true" (onHide)="hideDialog()">
    <ng-template #content>
        <p-toast />
        <form [formGroup]="financeNoteForm">
            <div class="flex flex-wrap flex-col gap-4">
                <div class="my-2">
                    <label for="value" class="block font-bold mb-3">Valor</label>

                    <p-inputnumber formControlName="value" inputId="value" mode="decimal" [minFractionDigits]="2"
                        [maxFractionDigits]="4" />
                    <app-custom-validation-message id="valueErrorMessage" controlName="value" />
                </div>

                <div class="my-2">
                    <label for="date" class="font-bold block mb-3">Data</label>
                    <p-datepicker [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" appendTo="body"
                        formControlName="date" [showIcon]="true" inputId="date" dateFormat="yy-mm-dd"
                        [showOnFocus]="false" />
                </div>

                <div class="my-2">
                    <label for="category" class="block font-bold mb-3">Categoria</label>
                    <p-select (onChange)="onCategoryChange($event)" appendTo="body" class="w-full" optionLabel="name"
                        optionValue="id" formControlName="category"
                        [options]="financeNoteCategoryService.financeNoteCategory()"
                        placeholder="Selecione a categoria" />
                </div>

                <div class="my-2">
                    <label for="type" class="block font-bold mb-3">Tipo</label>
                    <p-select appendTo="body" optionLabel="name" optionValue="key" class="w-full" formControlName="type"
                        [options]="types" placeholder="Selecione o tipo" />
                </div>

                <div class="my-2">
                    <label for="member" class="block font-bold mb-3">Membro
                        associado <i pTooltip="Limpar" tooltipPosition="right" (click)="clearMember()"
                            class="pi pi-eraser hover:underline hover:cursor-pointer"
                            style="font-size: 1.2rem; color: var(--primary-color)"></i></label>
                    <p-select appendTo="body" optionLabel="name" optionValue="number" class="w-full"
                        formControlName="member" [options]="membersService.members()"
                        placeholder="Selecione o membro" />
                </div>

                <div class="my-2">
                    <label for="description" class="block font-bold mb-3">Descrição</label>
                    <textarea class="w-full" rows="5" pTextarea formControlName="description"
                        id="description"></textarea>
                    <app-custom-validation-message id="descriptionErrorMessage" controlName="description" />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button [disabled]="financeNoteForm.invalid" label="Salvar" icon="pi pi-check"
            (click)="saveFinanceNoteHandler()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />