<div
  class="px-2 sm:px-8 py-20 md:px-12 lg:px-20 flex items-center justify-center backdrop-blur-3xl bg-cover! bg-center! bg-no-repeat! min-h-screen"
  style="background-image: url('/assets/images/background.jpeg')">
  <div class="w-full flex flex-col items-center justify-center">
    <div class="w-[98%] sm:w-[90%] md:w-[80%] lg:w-[50%] xl:w-[40%] 2xl:w-[30%]">
      <div class="backdrop-blur-2xl bg-white/10 py-12 px-4 sm:px-10 rounded-2xl">
        <div class="text-center mb-8">
          <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Bem vindo a IPR</div>
          <span class="text-muted-color font-medium">Gerar nova Senha</span>
        </div>

        <form [formGroup]="resetPasswordForm">
          <!-- Password -->
          <div class="my-4">
            <label for="passwordField" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Senha</label>
            <p-password
              id="passwordField"
              formControlName="password"
              placeholder="Senha"
              [toggleMask]="true"
              class="mb-2"
              [fluid]="true"
              [feedback]="false"></p-password>

            <app-custom-validation-message id="passwordErrorMessage" controlName="password" [minLength]="3" />
          </div>

          <div class="flex items-center justify-end mt-2 mb-8 gap-8">
            <span
              routerLink="/login"
              class="text-sm sm:text-base font-medium hover:underline no-underline ml-2 text-right cursor-pointer text-primary"
              >Login</span
            >
          </div>
          <p-button (click)="resetPasswordHandler()" id="resetPasswordButton" label="Gerar" styleClass="w-full"></p-button>
        </form>
      </div>
    </div>
  </div>
</div>
