<p-toolbar class="mb-6">
    <ng-template #start>
        <p-button label="Novo" icon="pi pi-plus" severity="primary" class="mr-2"
            (onClick)="openInsertPastoralCare()" />
        <p-button severity="danger" label="Excluir" icon="pi pi-trash"
            (onClick)="deleteSelectedPastoralCare()"
            [disabled]="!selectedPastoralCares || !selectedPastoralCares.length" />
    </ng-template>
    <ng-template #end>
        <p-button [disabled]="pastoralCareViewModel.totalOfPastoralCare() === 0" label="Exportar" icon="pi pi-upload" severity="success"
            (click)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="pastoralCareViewModel.pastoralCare()" [rows]="20"
    [columns]="columns" [paginator]="true"
    [globalFilterFields]="['id', 'members.name', 'pastoral_care_types.name', 'pastor']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedPastoralCares" [scrollable]="true"
    scrollHeight="500px" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} atendimentos"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]">
    <ng-template #caption>
        <div class="flex items-center justify-between flex-wrap gap-4">
            <h5 class="m-0">Atendimentos ({{ pastoralCareViewModel.totalOfPastoralCare()
                }})</h5>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input class="w-full sm:w-auto" pInputText type="text"
                    (input)="onGlobalFilter(dt, $event)"
                    placeholder="Pesquisar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th style="min-width: 10rem"></th>
            <th pSortableColumn="members.name"
                style="min-width: 12rem">
                Membro atendido
                <p-sortIcon field="members.name" />
            </th>
            <th pSortableColumn="pastoral_care_types.name"
                style="min-width: 20rem">
                Tipo de atendimento
                <p-sortIcon field="pastoral_care_types.name" />
            </th>
            <th style="min-width: 8rem">Data</th>
            <th pSortableColumn="pastor" style="min-width: 8rem">Obreiro que atendeu  <p-sortIcon field="pastor" /></th>
            <th style="min-width: 4rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-item let-expanded="expanded">
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="item" />
            </td>
            <td style="min-width: 10rem">
                <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="true" [plain]="true"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
            </td>
            <td style="min-width: 12rem">{{ item.members.name |
                firstAndLastname }}</td>
            <td style="min-width: 20rem">{{ item.pastoral_care_types.name
                }}</td>
            <td>{{ item.date | primengDate }}</td>
            <td>{{ item.pastor }}</td>
            <td>
                <p-button icon="pi pi-pencil" severity="info" [rounded]="true"
                    [text]="true"
                    (click)="openUpdatePastoralCare(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true"
                    [text]="true"
                    (click)="openDeletePastoralCare(item)" />
            </td>
        </tr>
    </ng-template>
    <ng-template #expandedrow let-item>
        <tr>
            <td colspan="8">
                <section class="w-full flex flex-col p-2">
                    <p class="ml-2 w-full m-0 text-surface-500 dark:text-surface-400 font-medium">
                        {{item.description}}
                    </p>
                </section>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-update-pastoral-care-dialog [pastoralCareForm]="pastoralCareForm"
    [dialog]="dialog" [modalTitle]="modalTitle()"
    (dialogClosed)="hideDialog()"
    (pastoralCareSaved)="savePastoralCareHandler()">
</app-update-pastoral-care-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
